body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    height: 100%;
}

.sidebar {
    float: left;
    width: 20%;
    height: 100%;
}

.sidebar-header {
    background-color: rgb(0, 154, 206);
    padding: 2rem 0;
    /* padding-left: 2rem; */
}

.sidebar-header .sidebar-headerTitle {
    margin: 0;
    background-color: rgb(0, 154, 206);
}

.sidebar-items {
    margin-top: 0;
    list-style-type: none;
    background-color: #00aae4;
    padding-bottom: 600px;
    padding-left: 0;
}

.sidebar-item {
    padding: 1rem 0;
    padding-left: 1rem;
}

.sidebar-item:hover {
    background-color: rgb(0, 187, 250);
}

.sidebar-item a {
    color: white;
    text-decoration: none;
}

html {
    height: 100%;
}

.filtro {
    background-image: url("./img/paisaje2d.jpg");
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    flex-direction: column;
    text-align: left;
    width: 400px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #00aae4;
    margin: 0;
    color: #fdfff1;
}

input {
    float: right;
    clear: both;
    width: 250px;
    border-radius: 5px;
    border: 0;
    box-shadow: 2px 2px 4px #514a48;
    height: 20px;
}

.botones {
    margin: 0 auto;
    width: 190px;
}

.botones button:hover {
    background-color: rgb(0, 187, 250);
}

.formulario {
    padding-left: 25px;
    padding-right: 25px;
    background-color: #fdfff1;
    padding-bottom: 25px;
    padding-top: 25px;
}

.form {
    box-shadow: 2px 2px 4px #514a48;
}

button {
    border: 0;
    box-shadow: 2px 2px 4px #514a48;
    font-size: 12px;
    background-color: #00aae4;
    color: #fdfff1;
    padding: 8px;
    margin-right: 10px;
}